@import url(http://fonts.googleapis.com/css?family=Marcellus+SC|Limelight);


body {
  background-color: #2e2e2e;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

html, body, .main{
  height: 100%;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

header h1{
  font-family: 'Marcellus SC', serif;
  font-size: 4em;
  color: #8be54e;
  border-bottom: 3px double #8be54e;
}

.footer {
  margin-top: 40px;
  padding-top: 19px;
  border-top: 1px solid #8be54e;
}

.player{
  float: right;
  background-color: #3e3e3e;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 15px;
  max-width: 200px;
}

.nowplaying{
  border-bottom: 1px solid #e5e5e5;
}

.player .album,
.player .title,
.player .album{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.player .album{
  font-size: 0.8em;
}

.player .title{
  font-weight: bold;
}

.controls{
  text-align: center;
}

.controls a{
  border: 0;
  background: 0;
  color: #8be54e;
}

.search{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.search input,
.search input:focus{
  width: 100%;
  background-color: #3e3e3e;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  outline: none;
}



.playlist{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.playlist thead{
  border-bottom: 1px solid #e5e5e5;
}

.playlist td{
  padding-left: 5px;
}

.playlist td.length{
  width: 75px;
}

.playlist tr:nth-child(even){
  background-color: #3e3e3e;
}

.playlist tfoot{
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 400px) {
  
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  .header {
    margin-bottom: 30px;
  }

  .player{
    max-width: 100%;
    border-left: 0;
    border-right: 0;
    width: 100%;
    border-radius: 0;
    text-align: center;
  }


}


