@import url(http://fonts.googleapis.com/css?family=Knewave|Source+Sans+Pro:200,400,700);

*, *:after, *:before {
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
}

body {
  background-color: #3e3e3e;
  color: #fff;
}

html, body, main, .container{
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-weight: 200;
  font-size: 11pt;
  font-family: 'Source Sans Pro', sans-serif;
}

.container{
  background-color: #2e2e2e;
}

main header {
  margin-top: 20px;
}

main header h1,
main header h2,
main header h3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 500px;
}

main header h1{
  font-family: 'Knewave', cursive;
  font-size: 4em;
  color: #4EBBE5;
}

main header h2{
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

main header h3{
  margin-top: 0;
  font-weight: 200;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer {
  margin-top: 40px;
  padding-top: 19px;
  border-top: 1px solid #4EBBE5;
  background-color: #3e3e3e;
  text-align: center;
}

.footer p{
  margin-bottom: 0;
}

.player{
  background-color: #3e3e3e;
  border: 1px solid #4EBBE5;
  border-left: 0;
  border-right: 0;
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.nowplaying{
  border-bottom: 1px solid #e5e5e5;
}

.player .album,
.player .title,
.player .album{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.player .artist{
  font-size: 1.1em;
}

.player .album{
  font-size: 0.8em;
}

.player .title{
  font-size: 1.4em;
}

.controls{
  text-align: center;
}

.controls a{
  border: 0;
  background: 0;
  color: #4EBBE5;
  font-size: 1.3em;
  margin-left: 4px;
  margin-right: 4px;
}

.search{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.search input,
.search input:focus{
  width: 100%;
  background-color: #3e3e3e;
  border: 1px solid #4EBBE5;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  outline: none;
}

.playlist{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.playlist .playing td{
  color: #4EBBE5;
}

.playlist .glyphicon-play {
  font-size: 0.4em;
  display: block;
  height: 100%;
  vertical-align: middle;
}

.playlist thead{
  border-bottom: 1px solid #4EBBE5;
}

.playlist td{
  padding-left: 5px;
}

.playlist td.length{
  width: 75px;
}

.playlist tr:nth-child(even){
  background-color: #3e3e3e;
}

.playlist tfoot{
  border-top: 1px solid #4EBBE5;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 400px) {
  
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  .header {
    margin-bottom: 30px;
  }

  .player{
    max-width: 100%;
    border-left: 0;
    border-right: 0;
    width: 100%;
    border-radius: 0;
    text-align: center;
  }
}