<main>
<header>
  <player />

  <h1>Protify</h1>
  <h2>Music As A Service</h2>
  <h3>For the web 3.0 generation</h3>
</header>

<form class="search">
  <input placeholder="Search" type="search" ng-model="search"></input>
</form>

<table class="playlist">
  <thead>
    <th></th>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Length</th>
  </thead>
  <tbody>
    <tr ng-class="{playing: nowPlaying == $index}" ng-repeat="track in tracks | filter:search" >
      <td>
        <span ng-show="nowPlaying == $index" class="glyphicon glyphicon-play"></span>
      </td>
      <td class="title" ng-click="clickTitle(track.title)">
        {{track.title}}
      </td>
      <td class="artist" ng-click="clickArtist(track.artist)">
        {{track.artist}}
      </td>
      <td class="album" ng-click="clickAlbum(track.album)">
        {{track.album}}
      </td>
      <td class="length" ng-click="clickLength(track.length)">
        {{track.length}}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <th></th>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Length</th>
  </tfoot>
</table>
</main>

<footer class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Protify team</p>
</footer>
