<main>
<header class="row">
  <h1 class="col-sm-4">Protify</h1>

  <player />
</header>

<form class="search">
  <input placeholder="Search" type="search" ng-model="search"></input>
</form>

<table class="playlist">
  <thead>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Length</th>
  </thead>
  <tbody>
    <tr ng-repeat="track in tracks | filter:search" >
      <td class="title" ng-click="clickTitle(track.tags.title)">
        {{track.tags.title}}
      </td>
      <td class="artist" ng-click="clickArtist(track.tags.artist)">
        {{track.tags.artist}}
      </td>
      <td class="album" ng-click="clickAlbum(track.tags.album)">
        {{track.tags.album}}
      </td>
      <td class="length" ng-click="clickLength(track.tags.time)">
        {{track.tags.time}}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Length</th>
  </tfoot>
</table>
</main>

<footer class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Protify team</p>
</footer>
